<!DOCTYPE html>  
<html>  
<head>  
    <title>List of Feedback forms</title>  
</head>  
<body>  
  
<h3>List of Feedback forms</h3>  
<table border=5>  
    <thead>  
        <td>Department</td>  
        <td>Feedback Type</td> 
        <td>Describe your Feedback</td> 
        <td>Name</td>  
        <td>Email</td>  
    </thEAD>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["department"]}}</td>  
            <td>{{row["feedback_type"]}}</td>  
            <td>{{row["describe_your_feedback"]}}</td> 
            <td>{{row["name"]}}</td>  
            <td>{{row["email"]}}</td>  
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
<a href="/final">Logout</a>  
  
</body>  
</html>  